.carousel {
    
    width: 100% !important;
    height: 500px !important;
    display: block;
   
  
    
}
.carousel-inner {
    display: block;
    width: 100% !important;
    height: 500px !important;
    overflow: hidden !important;
    opacity: .9;
    transform: translate( 0px,-54px);
    -webkit-transform: translate(0px,-54px); /** Chrome & Safari **/
}

img{
    transform: translate( 0px,-175px);
    -webkit-transform: translate(0px,-175px); /** Chrome & Safari **/

}