nav.navbar.navbar-default {
  margin-bottom: 0;
  font-family: 'BioRhyme', serif;
  font-size: 18px;
  height: 80px;
  background:  #f2f2f2 !important;
  border-color: #f2f2f2 !important;
  
}


.container-fluid {
  padding-right: 55px;
  padding-left: 55px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 18px;
  
}

.navbar-default .navbar-brand {
  color: #222;
  font-size: 25px;
  padding-top: 11px;
  float: left;
}

.navbar-default .navbar-nav>li>a {
  color: #222;
  float: right;
}

button[type="submit"] {
  float: right;
  text-decoration: none;
  border-color: #f2f2f2 !important;
  background: #f2f2f2 !important;
  margin-top: 12px;
  
}

a {
  color: #222;
  text-decoration: none;
  float: right;
  padding-right: 10px;
  padding-left: 12px;
  padding-top: 12px;
}
a:hover {
  color: #ef483e;
}

.btn-info {
  background-repeat: none;
  border-color: #5bc0de;
  background-image: linear-gradient(to bottom,#5bc0de 0,#5bc0de 100%);
}
body {
  background-color: #f2f2f2;
}

h1 {
 color: #ef483e !important;
 margin-bottom: 2rem;
 font-family: 'BioRhyme', serif;

}
p {
  font-family: Space Mono,Courier,monospace;

}
h2,
h3 {
  font-family: Space Mono,Courier,monospace;
}

