nav.navbar.navbar-inverse {
  margin-bottom: 0;
  font-family: 'BioRhyme', serif;
  background-color: #222;
  height: 75px;
  
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.navbar-inverse .navbar-brand {
  color: #f8f8f8;
}

.navbar-inverse .navbar-nav>li>a {
  color: #f8f8f8;
}

button[type="submit"] {
  float: right;
  margin-top: 10px;
  text-decoration: none;
  color: #f8f8f8;
  
}
a {
  color: #f8f8f8;
  text-decoration: none;
}

.btn-info {
  background-repeat: none;
  border-color: #5bc0de;
  background-image: linear-gradient(to bottom,#5bc0de 0,#5bc0de 100%);
}